.community-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  box-sizing: border-box;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 70vw;   
  height: 100vh;  
  max-width: 1600px;
}

.box {
  background-color: purple;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  border-radius: 8px;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}
